.item{
    width: 90%;
    margin: 8px 10px;
    padding: 0 1rem ;
    height: 50px;
 border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}
h2{
    text-align: start;
    margin: 1rem;
}
h3,h4{
font-weight: 500;
font-size: 17px;
}
.expDiv{
    max-width: 900px;
    width: 100%;
    
    margin: 0 auto;
    align-items: flex-start;
    flex-direction: column;
}
.itemMain{
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
}
.buttonDiv{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttonDiv button{
    height: 35px;
    padding: 0.5rem;
    background: rgb(247, 44, 85);
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
}
h4{
background: rgb(0, 132, 241);
color: white;
padding: 2px 5px;
border-radius: 10px;
}
.searchInput{
   margin-left: 0.7rem;
   margin-bottom: 1rem;
 width: 90%;
  padding:0.7rem 1rem;
  border-radius: 5px;
  font-size: large;
}

@media (max-width:500px) {
    .buttonDiv{
width: 50%;
    }
    
}