*{
  padding: 0;
  /* margin: 0; */
  box-sizing: border-box;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.849);
  color: white;
}
.links{
  display: flex;
  align-items: center;
}
.link-item{
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin: 0 1rem;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  color: white;
  height: 60px;
  
}
.link-item:hover{
  border-bottom: 3px solid rgb(1, 254, 208);
}
.burger{
  width: auto;
  height: 40px;
  display: none;
  cursor: pointer;
}
.showSide{
  display: flex;
  flex-direction: column;
  transform: translateX(0%);
  position: fixed;
  width: 60%;
  right: 0;
  top: 60px;
  padding: 2rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.846);
  color: white;
}
.sideBarNav{
  display: none;
  transform: translateX(100%);
  position: fixed;
  transition: 1s;
  width: 60%;
  right: 0;
  top: 60px;
 
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.846);
  color: white;
}
.showSide a{
padding: 0.5rem 2rem;
margin: 1rem 0;
background: rgba(255, 255, 255, 0.075);
}
 a{  
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
color: white;
}



@media (max-width: 500px) {
  .link-item{
    display: none;
  }
  
  .burger{
    display: block;
  }
}